/* p::before {
  content: '😂';
  font-size: 50px;
  background-color: #2f2c2c;
}

p::after {
  content: '🤷‍♂️';
  font-size: 60px;
}

p::selection {
  background-color: yellow;
  color: white;
} */

/* div p {
  background-color: yellow;
}

div > p {
  font-style: italic;
}

div + p {
  font-size: 50px;
}

div ~ p {
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

* {
  margin: 0;
}

div {
  width: 500px;
  background-color: rgb(169, 169, 194);
  margin: 50px auto;
  padding: 20px;
}

button {
  color: white;
  background-color: black;
  border: 3px solid red;
  margin-left: 30px;
  padding: 20px 30px;
  font-size: x-large;
  font-weight: bolder;
}

button:hover {
  background-color: rgb(42, 4, 4);
  color: rgb(31, 211, 202);
  box-shadow: 3px 3px 8px gray;
}
